//**
// Main Layout Styles
//**
* {
    margin: 0;
}

html,
body {
    height: 100%;
    max-width: 100%;
    // overflow:hidden;
    position: relative;
    height: 100%;
}

body {
    background: #dcdddc;
    /* Old browsers */
    background: linear-gradient(to bottom, #dadada 0%, #ffffff 50%);
    /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

header {

    height:10%;
    padding: 1.2em;
}

main {
    height:75%;
    /* equal to footer height */
    // margin-bottom: -$menu-height;
    z-index: 1;
    position: relative;
}

// main:after {
//     content: "";
//     display: block;
// }

// footer,
// main:after {
//     height: $menu-height;
// }

footer {
    position: relative;
    height:15%;
    background: #31373d;

    /* Old browsers */
    background: linear-gradient(to bottom, #31373d 0%, #58636e 100%);
    /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31373d', endColorstr='#58636e', GradientType=0);
    /* IE6-9 */
    .wrap {
        height:100%;
        padding: 0;

        &:before {
            content: "";
            position: absolute;
            background: url(../img/texture.png);
            background-size: cover;
            opacity: 0.1;
            width: 100%;
            height: 100%;
        }
    }
    &:before {
        position: absolute;
        content: "";
        width: 150%;
        height: 250%;
        border-radius: 100%;
        overflow: hidden;
        top: -218%;
        left: -25%;
        right: 0;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
        z-index: 0;
        background: #dcdddc;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
        /* W3C */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdddc', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
    }
}







// ul.stack {
//     list-style: none;
//     padding: 0;
// }

// .card {
//     position: relative;
//     width: 100%;
//     height: 65vh;
//     background: #FFF;
//     margin: auto;
//     z-index: 1;
//     box-shadow: 1px 1px 1px 1px rgba(97, 97, 97, 0.7);
//     .headline {}
//     .chart {}
//     .card-menu {}
// }

// $share-height: 4vh; // Height

.share-fav {
    width: 100%;
    height:100%;
    position: relative;
    // padding: 3vh 0 3vh 0
}

.share {
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid #FFF;
    background: url(../img/share.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    a {
        width: inherit;
        height: inherit;
        position: absolute;
        display: block;
        &:hover {
            background: blue;
            opacity: 0.5;
            background-size: 20%;
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
        }
    }
}

.fav {
    width: 50%;
    height: 100%;
    float: left;
    background: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    a {
        width: inherit;
        height: inherit;
        position: absolute;
        display: block;
    }
    &:hover {
        background: blue;
        opacity: 0.5;
        background-size: 20%;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.75);
    }
}

.bottom-menu {
    width: 100%;
    height:100%;
    top:0%;
    padding-top: 10%;
    position: absolute;
    .previous {
        width: 50%;
        background: url(../img/previous.svg);
        height: inherit;
        float: left;
        background-repeat: no-repeat;
        background-position: 30% 0%;
        background-size: 10%;
        a {
            width: inherit;
            height: 100%;
            top:0%;
            position: absolute;
            display: block;
            &:hover {
                background: red;
                opacity: 0.5;
                background-size: 20%
            }
        }
    }
    .next {
        width: 50%;
        background: url(../img/next.svg);
        height: inherit;
        float: left;
        background-repeat: no-repeat;
        background-position: 70% 0%;
        background-size: 10%;
        display: block;
        a {
            width: inherit;
            height: 100%;
            top:0%;
            position: absolute;
            display: block;
            &:hover {
                background: blue;
                opacity: 0.5;
                background-size: 20%;
            }
        }
    }
}

// menu overlay
.overlay {
    &.open {
        background: rgba(0, 0, 0, 0.5);
        transition: background 0.25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
}

// Card Stack


.headline {
    height: 40%;
    padding:5%;

    &.rescuetime {
    border-top: 10px solid $rescuetime;
    }
}




.service {
    background: url(../img/rescue-time.svg);
    width: 20%;
    height: 50%;
    z-index: 6;
    display: block;
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
}


.chart {
    height: 50%;
    background: green;
    opacity: 0.1;
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}




.card-menu {
    height: 10%;
    // background: blue;

    .more {
        float:right;
        background: url(../img/more.svg);
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        z-index:6;
        display:block;
    }

    .more-back {

        float:right;
        background: url(../img/back.svg);
        width: 20%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        z-index:0

    }
}




// Card Stack Back


.back {

.headline {
    height: 30%;
    padding:5%;
}

.chart {
    height: 50%;
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}




.card-menu {
    height: 20%;
}


}





.card-count {
    width: auto;
    height: auto;
    position: relative;
    z-index: -1;
    float: right;
    padding-right: 7%;
    top: -4%
}







// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }
// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }