//**
// mobilefirst Styles
//**



@include mobilefirst($big-break) {

  main, header {
    width: 40%;
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .bottom-menu {
    padding-top:3%;

    .previous {
          background-size: 8%;
    }
    .next {
          background-size: 8%;
    }
  }



}





@include mobilefirst($small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }
}

@include mobilefirst($x-small-break) {
  // e.g. iPhone, mobile
  body {
    overflow-x: hidden;
  }

  .flyout-wrap .flyout-btn {
  	width:75px;
  	height:75px;
  }

  .flyout-wrap {
  	width:75px;
  }

  .flyout {
  	    left: -103px;
	bottom: 85px;
  }
}


